.play-container {
    background: #f9f9f9;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* background: linear-gradient(99deg, #045351, #6f36ac); */
    /* background-color: #140712; */
    background: linear-gradient(99deg, #011b1a, #31164e);
}

@media (max-width: 900px) {
    .play-container {
        padding-left: 5%;
        padding-right: 5%;
    }
}
